article.advertisement
  section.advertisement-head
    h2
      = link_to advertisement.title, admin_advertisement_path(advertisement)
    section.advertisement-body.clearfix
      = image_tag advertisement.image.url(:thumb), class: 'img-thumbnail thumb' if advertisement.image?
      = advertisement.body
    small
      time
        = advertisement.created_at
      - if advertisement.category.present?
        = link_to advertisement.category.name, advertisement.category
      - if user_signed_in? && current_user.admin?
        = button_to 'Уничтожить', admin_advertisement_path(advertisement), method: :delete, data: { confirm: 'Вы уверены?' }
        = button_to 'Принять', admin_advertisement_path(advertisement), params: { advertisement: { state_event: 'approve'}}, method: :patch, class: "btn-sm btn-success"
        = button_to 'Отклонить', admin_advertisement_path(advertisement), params: { advertisement: { state_event: 'reject'}}, method: :patch, class: "btn-sm btn-danger"
      = "Статус объявления:" + " " + advertisement.state
      = advertisement.user_id
