- # if user_signed_in?
h1
  = "Привет!" + " " + @user.first_name + " " + @user.last_name
.btn-toolbar
  = button_to "Редактировать профиль", edit_user_registration_path, method: :get, class: "btn-group"
  = button_to "Все", current_user, method: :get, class: "btn-group"
  = button_to "В архиве", method: :get,  class: "btn-group"
  = button_to "Опубликованные", class: "btn-group"
  = button_to "Отклоненные", class: "btn-group"
  = button_to "Ждут публикации", class: "btn-group"
  = button_to "Черновик", class: "btn-group"
- @user_advertisements.each do |advertisement|
  article.advertisement
    section.advertisement-head
      h1
        - #= advertisement.title
        = link_to advertisement.title, advertisement_path(advertisement)
      small
        time
          = advertisement.created_at.to_date.strftime( "%e %B %Y %H:%M:%S" )
        - if advertisement.category.present?
          = link_to advertisement.category.name, advertisement.category
        = button_to 'Редактировать', edit_users_advertisement_path(advertisement), method: :get
        = button_to 'Уничтожить', users_advertisement_path(advertisement), method: :delete, data: { confirm: 'Вы уверены?' }
        = button_to 'Отправить в очередь', users_advertisement_path(advertisement), params: { advertisement: { state_event: 'to_fresh'}}, method: :patch
    section.advertisement-body
      = advertisement.body
      = image_tag advertisement.image.url(:large), class: 'img-show' if advertisement.image?
    = advertisement.state
- # end
