article.advertisement
  section.advertisement-head
    h2
      = link_to advertisement.title, advertisement_path(advertisement)
    section.advertisement-body.clearfix
      = image_tag advertisement.image.url(:thumb), class: 'img-thumbnail thumb' if advertisement.image?
      = advertisement.body
    small
      time
        = advertisement.created_at
      - if advertisement.category.present?
        = link_to advertisement.category.name, advertisement.category
      = "Статус объявления:" + " " + advertisement.state
      = advertisement.user_id
